QMainWindow {
background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #CEE9C8, stop:1 #6BC39F);
}

RecipeTile {
    background: rgba(200,56,170,255);
}
RecipeTile:hover {
    background: rgba(200,56,170,128);
}
#scrollArea {
    background-color: transparent;
    border: none;
}

#gridContainer {
    background-color: transparent;
}
